<link rel="stylesheet" href="/AdminPublic.css">

<main>
    <section class="navegacion">
    
        <h1>Administrador</h1>

        <div class="menu-hamburguesa">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a class="crearPelicula" href="/dashboard-admin/nueva">Crear película</a></li>
                <li><a class="logout" href="/">Log out</a></li>
            </ul>
        </nav>

    </section>

    <section class="tarjetas">
        <% if (movies.length > 0) { %>
            <% movies.forEach(item => { %>

                <div class="espacios" >                
                <article class="card">
                    <h2 class="card "><%= item.title %></h2>
                    <!-- <img class="card" src="<%= item.image %>" alt=""> -->
                    <p class="card"><%= item.year %></p>
                    <p class="card"><%= item.directors %></p>
                    <p class="card"><%= item.genres %></p>
                    <p class="card"><%= item.runtimeStr %></p>
                    <a class="card" id="BotonEditar" href="/dashboard-admin/editar/<%= item._id %>" method="GET">Editar</a>
                    <form action="/dashboard-admin/eliminar/<%= item._id %>" method="POST">
                        <button type="submit">Eliminar</button>
                          </form>
                </article>
            </div>
            <% }) %>
        <% } else { %>
            <p> No hay películas en la base de datos… </p>
        <% } %>
    </section>

</main>

