<%- include('templates/header',{urlTitle:'Dashboard Administrador'}) %>
 <link rel="stylesheet" href="../../css/AdminPublic.css">


<main>

    <header class="main-header">
       
        <h1>Administrador</h1>

        <nav id="nav" class="main-nav">
          <div class="nav-links">
            <a class="link-item" href="/dashboard-admin/nueva">Crear Pelicula</a>
            <a class="link-item" href="/customLogout">Log out</a>
          </div>
        </nav>

        <button id="button-menu" class="button-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </header>


    <section class="tarjetas">
        <% if (movies.length > 0) { %>
            <% movies.forEach(item => { %>

                <div class="espacios" >    
                    <article class="card">
                        <div class="card-image">
                          <img src="<%= item.image %>" alt="">
                        </div>
                        <div class="card-content">
                          <h2 class="card-title"><%= item.title %></h2>
                          <p class="card-text"><%= item.year %></p>
                          <p class="card-text"><%= item.directors %></p>
                          <p class="card-text"><%= item.genres %></p>
                          <p class="card-text"><%= item.runtimeStr %></p>
                          <div class="card-buttons">
                            <a href="/dashboard-admin/editar/<%= item._id %>" class="card-button">Editar</a>
                            <!-- <a href="/views/admin/botonEliminar.ejs" class="card-button">Eliminar</a> -->

                            <button id="boton1">Eliminar</button>
                            <div id="ventana" style="display:none;">
                                <p class="textoo">¿Quieres eliminar Sí o No?</p>
                               <form action="/dashboard-admin/eliminar/<%= item._id %>" method="POST">
                              <button type="submit" id="BotonEliminar" class="card-button">SI</button>
                               <a  class="no" href="/dashboard-admin">NO</a>
                              </div>
                            <!-- <form action="/dashboard-admin/eliminar/<%= item._id %>" method="POST">
                              <button type="submit" id="BotonEliminar" class="card-button">Eliminar</button> -->

                
                            </form>
                          </div>
                        </div>
                      </article>
            </div>
            <% }) %>
        <% } else { %>
            <p> No hay películas en la base de datos… </p>
        <% } %>
    </section>


    <script src="js/menu.js"></script>
    </main>


