
<%- include('templates/header') %>

<main>


    <header class="main-header">
       
        <h1>Administrador</h1>

        <nav id="nav" class="main-nav">
          <div class="nav-links">
            <a class="link-item" href="/dashboard-admin/nueva">Crear Pelicula</a>
            <a class="link-item" href="/customLogout">Log out</a>
          </div>

        </nav>

        <button id="button-menu" class="button-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </header>


    <section class="tarjetas">
        <% if (movies.length > 0) { %>
            <% movies.forEach(item => { %>

                <div class="espacios" >                
                <article class="card">
                    <h2 class="card "><%= item.title %></h2>
                    <img class="card" src="<%= item.image %>" alt="" width="200px">
                    <p class="card"><%= item.year %></p>
                    <p class="card"><%= item.directors %></p>
                    <p class="card"><%= item.genres %></p>
                    <p class="card"><%= item.runtimeStr %></p>
                    <a class="card" id="BotonEditar" href="/dashboard-admin/editar/<%= item._id %>" method="GET">Editar</a>
                    <form action="/dashboard-admin/eliminar/<%= item._id %>" method="POST">
                        <button type="submit">Eliminar</button>
                          </form>
                </article>
            </div>
            <% }) %>
        <% } else { %>
            <p> No hay películas en la base de datos… </p>
        <% } %>
    </section>



