    <%- include('templates/header', {urlTitle: 'Buscar Películas'}) %> 

    <h1>Buscador</h1>
    <% if (ok) { %>
        <table>
            <thead>
                <th></th>
                <th></th>
                <th>Título</th>
                <th>Año</th>
                <th>Director</th>
                <th>Elenco</th>
                <th>Géneros</th>
                <th>Duración</th>
                <th></th>                
            </thead>
            <tbody>
                <% movies.forEach(movie=> { %>
                    <tr>
                        <% if (movie.fav) { %>
                            <th><button class="btnFav favorita"><i class="fa-solid fa-star fa-xl"></i></button></th>
                        <% } else { %>
                            <th><button  class="btnFav"><i class="fa-solid fa-star fa-xl"></i></button></th>      
                        <% } %>
                        
                        <td><img src="<%- movie.image %>" alt="" height="50"></td>
                        <td><%- movie.title %></td>
                        <td><%- movie.year %></td>
                        <td><%- movie.directors %></td>
                        <td><%- movie.stars %></td>
                        <td><%- movie.genres %></td>
                        <td><%- movie.runtimeStr %></td>
                        <!-- <td><form action="/userSearch/showMovie/<%- movie.id_movie %>" method="post">
                            <input type="submit" value="Ver">
                        </form></td> -->
                        <td><a href="/userSearch/showMovie/<%- movie.id_movie %>?"><i class="fa-solid fa-circle-info fa-xl" style="color: #9194af;"></i></a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
<%- include('templates/footer') %>